.contact {
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    & a {
      color: var(--light-grayish-blue);
    }

    &-github {opacity: 0.86};
    &-linkedin {opacity: 0.86};
    &-insta {opacity: 0.86};
    &-github:hover {opacity: 1};
    &-linkedin:hover {opacity: 1};
    &-insta:hover {opacity: 1};
  }

  &__icon {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    color: var(--light-grayish-blue);
    opacity: 0.66;
    gap: 0.5rem;
  }
}