.projects {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;

  &__container {
    padding-top: 3rem;
    width: 97%;
    min-height: 32rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    flex-wrap: wrap;

    &__arrows-prev {
      position: absolute;
      left: 35%;
      bottom: -50px;
      color: var(--light-grayish-blue);
      opacity: 56%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      z-index: 1;

      &:hover {
        opacity: 1;
      }
    }

    &__arrows-next {
      position: absolute;
      right: 35%;
      bottom: -50px;
      color: var(--light-grayish-blue);
      opacity: 56%;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      z-index: 1;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .projects {
    &__container {}
  }
}

@media (min-width: 1024px) {
  .projects {
    &__container {
      gap: 1rem;
      width: 85%;

      &__arrows-prev {
        left: -5rem;
        bottom: 40%;
      }

      &__arrows-next {
        right: -5rem;
        bottom: 40%;
      }

      &__container {
        gap: 5rem
      }
    }

  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}