.contact-modal {
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: auto;
        height: 5rem;
        border: none;
        cursor: pointer;
        background-color: hsla(0, 0%, 100%, 0.3);
        border-radius: 8px;
        padding: 0.6rem 8rem;
        font-size: 1.5rem;
        font-weight: 600;
        text-wrap: nowrap;
        color: var(--light-grayish-blue);
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.4),
            0 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;

        &.light-mode {
            color: var(--dark);
            background-color: var(--sand-orange);
        }

        &:hover {
            box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6),
                0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }

    /* CSS for the modal */
    &__modal {
        background-color: rgba(112, 112, 112, 0.3);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 10000;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    &__close {
        display: flex;
        cursor: pointer;
        color: var(--light-grayish-blue);
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
    .contact-modal {
        &__button {}
    }
}