@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&family=Lato&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&family=Yuji+Boku&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: 'SuperMarioFont';
  src: url('../../assets/font/New\ Super\ Mario\ Font\ U.ttf') format('truetype');
}

:root {
  --black: #1f1f1f;
  --dark: #373746;
  --dark-opacity: rgba(0, 0, 0, 0.36);
  --dark-grey: #41414a;
  --light-grey: rgba(255, 255, 255, 0.4);
  --red: #e76f51;
  --orange: rgb(240, 176, 55);
  --sand-orange: #f6bd60;
  --sand-light-orange: #f7e2c270;
  /*review green - won't apply */
  --green: rgb(80, 60%, 40%);
  --light-green: rgb(80, 60%, 40%, 0.67);
  --light-purple: #a06cd5;
  --light-grayish-blue: hsl(223, 64%, 98%);
  --parchment-brown: hsl(38, 30%, 60%);
  // #b89a76
  --aged-parchment: hsl(45, 25%, 75%);
  // #d1c4ab
  --white-aged-parchment: #dad3c7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/background/desert-gb-freepikj.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //opacity: 0.86;
  overflow-x: hidden;
}

.App {
  height: 100%;
}

.App.dark-mode {
  background-color: var(--dark-opacity);
}

.App.light-mode {
  background-color: var(--light-grey);
}

.mario-font {
  font-family: "SuperMarioFont", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.bounce {
  display: inline-flex;
  transition: all 0.3s ease-out;
}

.bounce:hover {
  animation: rubberband 0.8s ease-out;
}


@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }

  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }

  55% {
    transform: scaleX(0.85) scaleY(1);
  }

  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }

  75% {
    transform: scaleX(0.9) scaleY(1);
  }

  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}