.carousel {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;

    &__nav-buttons {
        display: flex;
        margin: auto;
        cursor: pointer;
    }

    &__outer-container {
        width: 90%;
        margin: auto;
        overflow: hidden;
    }
    
    &__container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;

    }
}

@media screen and (min-width: 768px) {
    .carousel {
        margin-top: 15rem;

        &__container {
            gap: 4rem;
        }

        &__outer-container {
            width: 80%;
        }
    }
}