.arrow {
    position: fixed;
    bottom: 3%;
    left: 45%;
    margin-left: auto;
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  
    &.dark-mode {
      color: var(--light-grayish-blue);
      opacity: 56%;
    }
  
    &.light-mode {
      color: var(--dark);
      opacity: 86%;
    }
  }
  