.skills-button {
    border: none;
    cursor: pointer;
    background: hsl(0, 0%, 100%, 0.3);
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light-grayish-blue);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.4),
        0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    &.min-width {
        min-width: 200px;
        max-width: 90vw;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    &.light-mode {
        background: var(--sand-orange);
        color: var(--dark);
    }

    &:hover {
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6),
            0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 768px) {
    .skills-button {
        font-size: 1.3rem;
        padding: 1.1rem 2rem;

        &.min-width {
            min-width: 400px;
            padding: 2rem;
        }
    }
}