@font-face {
  font-family: 'SuperMarioFont';
  /* You can give it any name you want */
  src: url('../../assets/font/New\ Super\ Mario\ Font\ U.ttf') format('truetype');
}

.hero-text {
  font-family: 'SuperMarioFont', sans-serif;

  &__h1 {
    font-size: 6rem;
    color: var(--orange);
    cursor: default;
    margin-top: 4rem;

    &.light-mode {
      color: var(--dark);
      opacity: 86%;
    }
  }

  &__top {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    margin-top: 8rem;

    &__h1 {
      margin: auto;
      font-size: 12rem;
    }
  }
}

@media screen and (min-width: 1624px) {
  .hero-text {
    &__h1 {
      font-size: 16rem;
    }
  }
}