@font-face {
  font-family: 'SuperMarioFont';
  src: url('../../assets/font/New\ Super\ Mario\ Font\ U.ttf') format('truetype');
}

.hero-text {
  font-family: 'SuperMarioFont', sans-serif;

  &__h1 {
    font-size: 3rem;
    cursor: default;

    &.light-mode {
      color: var(--dark);
      opacity: 86%;
    }
  }

  &__top {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    &__h1 {
      font-size: 5rem;
      text-wrap: nowrap;
    }
  }
}

@media screen and (min-width: 1624px) {
  .hero-text {
    &__h1 {
    }
  }
}