.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: min(90vw, 30rem);
  max-width: calc(100vw - 2rem);
  height: 40rem;
  background-color: rgb(80, 60%, 40%, 0.67);
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2),
    0 2px 4px rgba(0, 0, 0, 0.1);

  &__icon {
    position: absolute;
    top: 10px;
    color: var(--red);
    opacity: 0.86;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.3) rotate(360deg);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    scale: 1;
    border-radius: 15px;
    transition: scale 0.4s ease-in-out
  }

  &__description {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 3rem;
    padding-top: 2.5rem;
    overflow: scroll;
    text-align: center;
    background-color: var(--dark-grey);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: height 0.4s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat((4, 1fr));
    transition: all 0.3s ease-in-out;
    cursor: default;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-corner {
      display: none;
    }
  }

  &__description h2 {
    font-size: 1.5rem;
    color: var(--orange);
    margin-bottom: 0.8rem;
  }

  &__description h2:first-child {
    margin-top: 1rem;
  }

  &__description h3 {
    width: 90%;
    margin: auto;
    line-height: 1.5rem;
    font-size: 1rem;
    color: rgb(80, 60%, 40%);
    text-align: justify;
    margin-bottom: 0.5rem;
  }

  &__title h3 {
    text-align: center;
  }

  &__summary h3 {
    line-height: 2rem;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-corner {
      display: none;
    }
  }

  &__features {
    &-items h3 {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 1rem;
      transition: all 0.3s ease-in-out;
      transform: scale(1);

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__tech {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;

    &-items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -0.5rem;
    }
  }

  &__tech img {
    width: 2rem;

    &:hover {
      animation: rotate 2s linear infinite;
    }
  }

  &__links {
    &-bar {
      width: 0;
      height: 4px;
      font-size: 3rem;
      border-radius: 5rem;
      background-color: orange;
      transition: width 0.3s ease-in;
      z-index: 1;
    }

    &:hover &-bar {
      width: 100%;
    }
  }

  &__links a {
    color: var(--orange);
    font-size: 1.5rem;
    text-decoration: none;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .project-card {
    width: 60rem;
      height: 32rem;

    &__img {
      display: flex;
      height: 100%;
    }

    &__description {
      grid-template-columns: 1.5fr 0.5fr;
      grid-template-rows: 0.5fr 2.2fr 0.3fr;
      grid-template-areas:
        "title title"
        "summary features"
        "tech features";
      height: 20%;
      padding-top: 0;
      padding-left: 1rem;
      padding-right: 2.5rem;
    }

    &__title {
      grid-area: title;
    }

    &__summary {
      grid-area: summary;
    }

    &__features {
      grid-area: features;
    }

    &__tech {
      grid-area: tech;
    }

    &:hover &__description {
      height: 90%;
      transition: height 0.6s ease-in-out;
    }
  }
}

@media screen and (min-width: 1441px) {
  .project-card {
    width: 90rem;
    height: 42rem;


    &-expanded &__img {
      display: flex;
    }

    &__description {
      grid-template-columns: 1.5fr 0.5fr;
      grid-template-rows: 0.5fr 2.2fr 0.3fr;
      grid-template-areas:
        "title title"
        "summary features"
        "tech features";
        height: 20%;
      padding-top: 0;
      padding-left: 1rem;
      padding-right: 2.5rem;

      &:hover & {
        height: 90%;
        transition: height 0.6s ease-in-out;
      }

      & h2 {
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
      }

      & h3 {
        line-height: 2.2rem;
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
      }
    }

    &__title {
      grid-area: title;
      margin-bottom: 1.5rem;
    }

    &__title h3 {
      text-align: center;
    }


    &__summary {
      grid-area: summary;
      grid-template-columns: 1.4fr 0.6fr;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-corner {
        display: none;
      }
    }

    &__features {
      grid-area: features;
    }

    &__tech {
      grid-area: tech;
    }

    &:hover &__description {
      height: 90%;
      transition: height 0.6s ease-in-out;
    }
  }
}